.pdf__item {
  display: flex;
  align-items: center;
  height: fit-content;
  width: 100%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  padding: 15px 40px;
  transition: all 0.1s;
  color: var(--box-header-color);
}

.not__selected {
  background: var(--item-bg-color);
}

.selected {
  background: var(--item-hover-bg);
  color: var(--item-hover-color);
}

img {
  width: 52px;
  height: 64px;
}

.icon__eye:hover {
  transform: scale(1.2);
}

.icon__validation:hover {
  transform: scale(1.2);
}

.not__selected:hover .icon__eye {
  color: var(--item-hover-color);
}

.not__selected:hover .icon__validation {
  color: var(--item-hover-color);
}

.selected .icon__eye {
  color: var(--item-hover-color);
}

.selected .icon__validation {
  color: var(--item-hover-color);
}

.icon__pdf {
  color: var(--item-hover-bg);
}

.icon__eye {
  margin-left: auto;
  color: gray;
}

.icon__validation {
  color: gray;
  margin-left: 1vh;
}

.pdf__title {
  margin-left: 1vh;
}

.not__selected:hover {
  transform: scale(1.02);
  z-index: 100;
  background: var(--box-header-color);
  color: var(--item-hover-color);
}

.selected:hover {
  transform: scale(1.02);
  z-index: 100;
}
